body{
	font-family: 'Lato', sans-serif;
}

/***header area***/
.header-section{
	overflow: hidden;
	position: relative;
}
.header-section .logo-section{
	display: none;
}

.header-section .main-menu{
	position: absolute;
	display: block;
	width: 100%;
	top: 30px;
	left: 0;	
}

.header-section .header-image img{
	width: 100%;
	height: auto;
}

.header-section .main-menu ul li a{
	text-transform: uppercase;
	color: #4d4959;
	padding: 0 20px;
	letter-spacing: 0.3em; 
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-decoration:none;
	border-bottom: 1px solid transparent;
}

.header-section .main-menu ul li a:hover{
	border-bottom: 1px solid #676578;
	border-radius: 15px;
	transition: 1s;
}

.header-section .main-menu ul .logo:hover a{
	border-bottom:none;
}
/*** header section ends ***/

/*** Intro section ***/
.intro-section {
	background: #F7F7F7;
	overflow: hidden;
}

.content{
	padding: 90px 0;
}

h3{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 700; 
}

.content p{
	font-size: 18px;
	color: #848789;
	line-height: 2em;
}
/*** intro section ends ***/

/*** description section ***/
section{
	max-height: 710px;
	overflow: hidden;
}
.description-section .big img{
	width:100%;
	height:auto;
}

.small-image{
	min-height: 230px;
	background: url('images/vintage-bike-small.jpg') no-repeat;
	background-size: 100% auto;
	height:30%;
	background-position: bottom left;
}

.small-image:before{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid #FFFFFF;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	margin: auto;
}

.description-section .big-small,
.description-section .small-big
.description-section .big-small-big{
	overflow: hidden;
}

.big,
.description-section .small{
	padding: 0;
}

.description-section .small-description{
	height:70%;
}

.description-section .small-description .des-content{
	padding: 80px 0;	
}

.description-section .small-description .des-content p{
	font-size: 18px;
	color: #848789;
	text-align: justify;
	line-height: 2em;	
	padding: 30px 70px 0 70px;
}

 hr {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-top: 1px solid #a2a4a6;
	width: 50px;
}

.small-image-2{
	min-height: 230px;
	background: url('images/vintage-bike-small2.jpg') no-repeat;
	background-size: 100% auto;
	height:30%;
	background-position: bottom left;
}

.small-image-2:before{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid #FFFFFF;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	margin: auto;
}

.small-image-3{
	min-height: 230px;
	background: url('images/vintage-bike-small3.jpg') no-repeat;
	background-size: 100% auto;
	height:30%;
	background-position: bottom left;
}

.small-image-3:before{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid #FFFFFF;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	margin: auto;
}
/*** description section ends ***/

/*** twitter section ***/
.tweet-section{
	background: #F7F7F7;
}

.twitter-icon{
	font-size: 26px;
	color: #55C6F2;
}

.twitter-header h4{
	font-size: 22px;
	font-weight: 700;
}

.twitter-header span{
	font-weight: 400;
	color: #cccccc;
}

.tweet-section p{
	font-size: 22px;
}
/*** twiter section ends ***/

/*** shop section ***/
.shop-section .discover-shop{
	background: #282F35;
	padding: 50px 0;
	font-family: 'Lato', sans-serif;
}	

.shop-section .discover-shop .link a{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 4px;
	display: inline-block;
	margin-top: 70px;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 10px 35px;
}
/*** shop section ends ***/

/*** subcribe section***/
.subscribe-section .logo a{
	display: block;
	padding-top: 90px;
	padding-bottom: 45px;
}

.subscribe-section p{
	font-size: 24px;
	color: #A3A4A5;
}

.subscribe-section form{
	padding-bottom: 80px;
}

.subscribe-section input[type=email]{
	font-size: 18px;
	padding: 15px 150px 15px 15px;
	border: 1px solid #CCCCCC;
}

.subscribe-section input[type=submit]{
	font-size: 18px;
	color: #FFFFFF;
	padding: 15px 30px;
	margin-left: 10px;
	border: 1px solid transparent;
	background: #64C29E;
}
/*** sunscribe section ends ***/

/*** footer section ***/
.footer-section {
	background: #F7F7F7;
	color: #A3A4A5;
}

.footer-section .container{
	padding: 50px 0;
	width: 80%;
}

.footer-section .container i{
	margin: 20px;
	font-size: 30px;
}

.footer-section .container p{
	margin-left: 10px;
}
/*** footer section ends ***/
